.bloc_xp {
  max-width: 100%;
  height: fit-content;
  background-color: rgba(0, 17, 255, 0.527);
  border-bottom: 2px solid black;
  padding-top: 50px;
}
.subTitle {
  margin-top: 130px;
  color: white;
  text-shadow: black 10px 7px 10px;
  font-size: 30px;
  text-align: center;
  height: fit-content;
}
.Bloc_TimeLine {
  max-width: 75%;
  margin: auto;
}
/*BigTablet --------------------------------------------------------------*/

.bloc_xp_BigTablet {
  max-width: 100%;
  height: fit-content;
  background-color: rgba(0, 17, 255, 0.527);
  border-bottom: 2px solid black;
  padding-top: 14%;
}
/* Mobile -------------------------------------------------------*/

.subTitle_mobile {
  margin-top: 130px;
  color: white;
  text-shadow: black 10px 7px 10px;
  font-size: 30px;
  text-align: center;
  height: fit-content;
}
