.cardsSkill{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card{
  transition: 1s;
  width: 300px;
  height: 250px;
  margin: 30px 20px 20px 20px;

}
.card:hover{
  transition: 1s;
  width: 300px;
  height: 250px;
  margin: 20px 20px 20px 20px;
  box-shadow: black 10px 7px 10px;
}
.List_card{
  display: flex;
  flex-direction: column;
}
.list_lang_card{
  display: flex;
  align-items: center;
  align-content: flex-start;
  list-style-type: none;
  color: rgb(0, 0, 0);
}
.list_lang_logo_card{
  width: 30px;
  margin-right: 10px;
}
.buttonSkillCard{

}