.PagesofCards {
  margin: auto;
  width: 80%;
  display: flex;
  flex-flow: wrap;
}
.cardsPage {
  transition: 1s;
  width: 35%;
  height: fit-content;
  background-color: whitesmoke;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: rgba(255, 255, 255, 0.342) 2px 5px 7px;
  border: black 0.1px solid;
  border-radius: 5px;
}
.cardsPage:hover {
  transition: 1s;
  width: 35%;
  height: fit-content;
  background-color: whitesmoke;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: rgba(255, 255, 255, 0.342) 4px 7px 9px;
  border: black 0.1px solid;

  border-radius: 5px;
}
.cardsPage_skill {
  transition: 1s;
  width: 35%;
  height: 280px;
  background-color: whitesmoke;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: rgba(255, 255, 255, 0.342) 2px 5px 7px;
  border: black 0.1px solid;
  border-radius: 5px;
}
.cardsPage_skill:hover {
  transition: 1s;
  width: 35%;
  height: 280px;
  background-color: whitesmoke;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: rgba(255, 255, 255, 0.342) 4px 7px 9px;
  border: black 0.1px solid;

  border-radius: 5px;
}
.cardsPage_loisirs {
  transition: 1s;
  width: fit-content;
  height: fit-content;
  background-color: whitesmoke;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: rgba(255, 255, 255, 0.342) 2px 5px 7px;
  border: black 0.1px solid;
  border-radius: 5px;
}
.cardsPage_loisirs:hover {
  transition: 1s;
  width: fit-content;
  height: fit-content;
  background-color: whitesmoke;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: rgba(255, 255, 255, 0.342) 4px 7px 9px;
  border: black 0.1px solid;

  border-radius: 5px;
}
.cardsTitle {
  margin: 15px;
}
.cardsContain_Description {
  padding: 0px 15px 15px 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.cardsContain_Description_loisirs {
  display: flex;
  margin: 10px;
  padding: 0px 15px 15px 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.loisirs {
  margin: 7px;
}
.cardCom {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  font-size: 1;
}
.cardsPageEnd {
  transition: 1s;
  width: 80%;
  height: fit-content;
  background-color: white;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 30px;
  box-shadow: rgba(255, 255, 255, 0.342) 2px 5px 7px;
  border: black 0.1px solid;
  border-radius: 5px;
}
.cardsPageEnd:hover {
  transition: 1s;
  width: 80%;
  height: fit-content;
  background-color: rgba(219, 0, 0, 0.932);
  margin: auto;
  margin-top: 150px;
  margin-bottom: 30px;
  box-shadow: rgba(255, 255, 255, 0.342) 4px 7px 9px;
  border: black 0.1px solid;
  border-radius: 5px;
}
.cardsTitleEnd {
  margin: 15px;
  text-align: center;
}
.cardsContainEnd {
  padding: 15px 15px 15px 15px;

  text-align: center;
}

/* Mobile ---------------------------------------------------------------------*/

.cardsPage_mobile {
  transition: 1s;
  width: 80%;
  height: fit-content;
  background-color: whitesmoke;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: rgba(255, 255, 255, 0.342) 2px 5px 7px;
  border: black 0.1px solid;
  border-radius: 5px;
}
.cardsPage_mobile:hover {
  transition: 1s;
  width: 80%;
  height: fit-content;
  background-color: whitesmoke;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: rgba(255, 255, 255, 0.342) 4px 7px 9px;
  border: black 0.1px solid;
  border-radius: 5px;
}
.cardsTitle_mobile {
  margin: 15px;
}
.cardsContain_mobile {
  padding: 0px 15px 15px 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: space-between;
}

.cardCom_mobile {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  font-size: 1;
}
.cardsPageEnd_mobile {
  transition: 1s;
  width: 80%;
  height: fit-content;
  background-color: rgba(219, 0, 0, 0.932);
  margin: auto;
  margin-top: 363px;
  margin-bottom: 30px;
  box-shadow: rgba(255, 255, 255, 0.342) 2px 5px 7px;
  border: black 0.1px solid;
  border-radius: 5px;
}
.cardsPageEnd_mobile:hover {
  transition: 1s;
  width: 80%;
  height: fit-content;
  background-color: whitesmoke;
  margin: auto;
  margin-top: 363px;
  margin-bottom: 30px;
  box-shadow: rgba(255, 255, 255, 0.342) 4px 7px 9px;
  border: black 0.1px solid;
  border-radius: 5px;
}
.cardsTitleEnd_mobile {
  margin: 15px;
  text-align: center;
}
.cardsContainEnd_mobile {
  padding: 15px 15px 15px 15px;

  text-align: center;
}
