.bloc_skill {
  max-width: 100%;
  height: fit-content;
  background-color: rgba(0, 174, 255, 0.274);
  border: 1px solid black;
}
.bloc_skill_contain {
  margin: auto;
  width: 80%;
}
/* Mobile ----------------------------------------------------------------*/
.bloc_skill_mobile {
  max-width: 100%;
  height: fit-content;
  background-color: rgba(0, 174, 255, 0.274);
  border: 1px solid black;
}
.bloc_skill_contain_mobile {
  margin: auto;
}
