.bloc_projects {
  max-width: 100%;
  height: fit-content;
  background-color: rgba(65, 253, 65, 0.671);
  border-bottom: 2px solid black;
  padding-top: 50px;
}

/* Mobile ---------------------------------------------- */

.bloc_projects_mobile {
  max-width: 100%;
  height: fit-content;
  background-color: rgba(0, 128, 0, 0.342);
  border: 1px solid black;
}
.bloc_logo_formations {
}
.link_logo_formations {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.2rem;
  color: grey;
  border-bottom: solid black 2px;
  border-left: solid black 2px;
  border-radius: 15px;
  width: 60%;
  padding: 5px 10px 5px 10px;
  margin: 5px 15px;
}
.logo_formations {
  width: 40px;
  margin: 10px 10px 10px 0px;
}
