.bloc_header_top {
  transition: 2s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.39);
  position: fixed;
  top: 0;
  z-index: 10;
}
.bloc_header_scrollDown {
  transition: 2s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.808);
  position: fixed;
  top: 0;
  z-index: 10;
}
.NavPage_top {
  transition: 1s;
  text-decoration: none;
  color: whitesmoke;
  margin: 15px;
  cursor: pointer;
  font-size: 1.3rem;
}
.NavPage_top:hover {
  transition: 0.5s;

  text-shadow: black 10px 7px 10px;
}
.NavPage_scrollDown {
  transition: 1s;
  text-decoration: none;
  color: rgb(88, 88, 88);
  margin: 10px;
  cursor: pointer;
  font-size: 1.3rem;
}
.NavPage_scrollDown:hover {
  transition: 0.5s;

  text-shadow: black 10px 7px 10px;
}
.title_top {
  transition: 1s;
  text-shadow: black 5px 2px 5px;
  margin: 10px;

  color: whitesmoke;
  width: 120px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 3em;
  cursor: pointer;
}
.title_scrollDown {
  transition: 1s;
  text-shadow: black 5px 2px 5px;
  margin: 10px;

  color: white;
  width: 80px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}
.logo_header_desktop_top {
  width: 110px;
  transition: 1s;
}
.logo_header_desktop_scrollDown {
  width: 90px;
  transition: 1s;
}

/* Mobile ----------------------------------------------------------------*/

.bloc_header_mobile_top {
  transition: 2s;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.39);
  position: fixed;
  top: 0;
  z-index: 10;
}
.bloc_header_mobile_scrollDown {
  transition: 2s;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.836);
  position: fixed;
  top: 0;
  z-index: 10;
}
.NavPage_mobile_top {
  transition: 1s;
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
  font-size: 1.3rem;
}
.NavPage_mobile_top:hover {
  transition: 0.5s;
  text-shadow: black 10px 7px 10px;
}
.NavPage_mobile_scrollDown {
  transition: 1s;
  text-decoration: none;
  color: rgb(88, 88, 88);
  margin: 10px;
  cursor: pointer;
  font-size: 1.3rem;
}
.NavPage_mobile_scrollDown:hover {
  transition: 0.5s;
  text-shadow: black 10px 7px 10px;
}
.title_mobile_top {
  transition: 1s;
  text-shadow: black 5px 2px 5px;
  margin: 10px;

  color: whitesmoke;
  width: 80px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 2em;
}
.title_mobile_scrollDown {
  transition: 1s;
  text-shadow: black 5px 2px 5px;
  margin: 10px;

  color: whitesmoke;
  width: 80px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 2em;
}
.bouton_menu {
  color: white;
}
#customized-menu {
  display: flex;
  flex-flow: column;
}
.logo_header_desktop_mobile_top {
  width: 90px;
  transition: 1s;
}
.logo_header_desktop_mobile_scrollDown {
  width: 90px;
  transition: 1s;
}
