.bloc_header_page{

}
.bloc_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.39);
  border: 1px solid white;

  position: fixed;
  z-index:10
}

.title_name {
  text-shadow: black 5px 2px 5px;
  margin: 10px;
  border: rgb(149, 47, 250) solid 5px;
  color: white;
  width: 80px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.navPage {
  text-decoration: none;
  color: whitesmoke;
  margin: 10px;
  cursor: pointer;
}
.navPage:hover{
  transition: 1s;
  font-size: 17px;
  text-shadow: black 10px 7px 10px;
}